<h2><%= t '.cart_title' %></h2>

<% if notice %> 
  <p id="notice"><%= notice %></p> 
<% end %>

<table>
  <%= render(cart.line_items) %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= format_price(cart.total_price) %></td>
    <td></td>
  </tr>
</table>

<%= button_to t('.checkout'), new_order_path, :method => :get unless @order %>
<%= button_to t('.empty'), cart, :method => :delete, :remote => true unless @order%>

